PUID=0
PGID=0
TZ=
EXTERNAL_DIR=/path/to/storage
DNSHOST1=oc.example.com:host-gateway

OC_ADD_RUN_SERVICES=collaboration
OC_LOG_LEVEL=error
OC_URL=https://oc.example.com
# do not use SSL between the reverse proxy and OpenCloud
PROXY_TLS=false
OC_INSECURE=true
OC_SHARING_PUBLIC_SHARE_MUST_HAVE_PASSWORD=false
OC_SHARING_PUBLIC_WRITEABLE_SHARE_MUST_HAVE_PASSWORD=false
STORAGE_USERS_POSIX_WATCH_FS=true

# email server (if configured)
START_ADDITIONAL_SERVICES="notifications"
NOTIFICATIONS_SMTP_HOST=
NOTIFICATIONS_SMTP_PORT=
NOTIFICATIONS_SMTP_SENDER=
NOTIFICATIONS_SMTP_USERNAME=
NOTIFICATIONS_SMTP_PASSWORD=
NOTIFICATIONS_SMTP_INSECURE=false
NOTIFICATIONS_SMTP_AUTHENTICATION="1"
NOTIFICATIONS_SMTP_ENCRYPTION="none"
FRONTEND_ARCHIVER_MAX_SIZE="10000000000"
PROXY_CSP_CONFIG_FILE_LOCATION=/etc/opencloud/csp.yaml
# these three vars are needed to the csp config file to include the web office apps and the importer
COLLABORA_DOMAIN=office.example.com
# make collabora the secure view app
FRONTEND_APP_HANDLER_SECURE_VIEW_APP_ADDR=eu.opencloud.api.collaboration

# collaboration server
COLLABORATION_WOPI_SRC=https://oc.example.com
COLLABORATION_APP_NAME=CollaboraOnline
COLLABORATION_APP_PRODUCT=Collabora
COLLABORATION_APP_ADDR=https://office.example.com
COLLABORATION_APP_ICON=https://office.example.com/favicon.ico
COLLABORATION_APP_INSECURE=false
COLLABORATION_APP_PROOF_DISABLE=true
COLLABORATION_CS3API_DATAGATEWAY_INSECURE=true
COLLABORATION_LOG_LEVEL=error
