PUID=1000
PGID=1000
TZ=Asia/Kolkata
EXTERNAL_DIR=/path/to/storage

OC_LOG_LEVEL=info
OC_URL=https://cloud.example.com
PROXY_HTTP_ADDR=0.0.0.0:9200
# do not use SSL between the reverse proxy and OpenCloud
PROXY_TLS=false
OC_INSECURE=true
# email server (if configured)
NOTIFICATIONS_SMTP_HOST=
NOTIFICATIONS_SMTP_PORT=
NOTIFICATIONS_SMTP_SENDER=
NOTIFICATIONS_SMTP_USERNAME=
NOTIFICATIONS_SMTP_PASSWORD=
NOTIFICATIONS_SMTP_INSECURE=false
NOTIFICATIONS_SMTP_AUTHENTICATION="1"
NOTIFICATIONS_SMTP_ENCRYPTION="none"
FRONTEND_ARCHIVER_MAX_SIZE="10000000000"
# make the registry available to the app provider containers
MICRO_REGISTRY_ADDRESS=0.0.0.0:9233
NATS_NATS_HOST=0.0.0.0
NATS_NATS_PORT=9233
PROXY_CSP_CONFIG_FILE_LOCATION=/etc/opencloud/csp.yaml
# these three vars are needed to the csp config file to include the web office apps and the importer
COLLABORA_DOMAIN=office.example.com

# collaboration server
COLLABORATION_GRPC_ADDR=0.0.0.0:9301
COLLABORATION_HTTP_ADDR=0.0.0.0:9300
COLLABORATION_WOPI_SRC=https://wopiserver.example.com
COLLABORATION_APP_NAME=CollaboraOnline
COLLABORATION_APP_PRODUCT=Collabora
COLLABORATION_APP_ADDR=https://office.example.com
COLLABORATION_APP_ICON=https://office.example.com/favicon.ico
COLLABORATION_APP_INSECURE=false
COLLABORATION_APP_PROOF_DISABLE=true
COLLABORATION_CS3API_DATAGATEWAY_INSECURE=true
COLLABORATION_LOG_LEVEL="info"
