[Unit]
Description=Opencloud WOPIServer Container
Requires=opencloud.service
After=opencloud.service

[Container]
Pod=opencloud.pod
ContainerName=opencloud_wopi
Image=docker.io/opencloudeu/opencloud-rolling:latest

Exec=collaboration server

# Enable auto-update container
AutoUpdate=registry
# pass this to attach it to container
EnvironmentFile=./.env

Volume=%h/podman/opencloud:/etc/opencloud

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/opencloud/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

