[Unit]
Description=Opencloud Container

[Container]
ContainerName=opencloud
Image=quay.io/opencloudeu/opencloud-rolling:latest
Entrypoint=/bin/sh
Exec=-c "opencloud init || true; opencloud server"

#Network=host
PublishPort=127.0.0.1:9200:9200
PublishPort=100.64.0.1:9200:9200

# this is required as opencloud won't work otherwise
AddHost=${DNSHOST1}

# Enable auto-update container
AutoUpdate=registry
# pass this to attach it to container
EnvironmentFile=./.env

# metadata and configuration store here
Volume=%h/podman/opencloud/config:/etc/opencloud

# actual data store here
Volume=${EXTERNAL_DIR}:/var/lib/opencloud

#to satisfy opencloud bitch permissions problems
UIDMap=1000:0:1
UIDMap=0:1:1000

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/opencloud/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

