[Unit]
Description=Opencloud Container

[Container]
Pod=opencloud.pod
ContainerName=opencloud
Image=docker.io/opencloudeu/opencloud-rolling:latest

# Enable auto-update container
AutoUpdate=registry
# pass this to attach it to container
EnvironmentFile=./.env

# metadata and configuration store here
Volume=%h/podman/opencloud/config:/etc/opencloud
Volume=%h/podman/opencloud/data:/var/lib/opencloud

# actual data store here
Volume=${EXTERNAL_DIR}:/var/lib/opencloud/storage/users/users

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/opencloud/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

