# base config
DOMAIN=https://vw.example.com
SIGNUPS_ALLOWED=false
INVITATIONS_ALLOWED=false

# smtp config
SMTP_HOST=smtp.example.com
SMTP_FROM=mail@example.com
SMTP_FROM_NAME=Vaultwarden
SMTP_USERNAME=username
SMTP_PASSWORD=
SMTP_TIMEOUT=15
SMTP_SECURITY=force_tls
SMTP_PORT=465

# rocket http configuration
ROCKET_PORT=7777
