[Unit]
Description=Gitea Container

[Container]
ContainerName=gitea
Image=ghcr.io/go-gitea/gitea:latest

# Enable auto-update container
AutoUpdate=registry
# pass this to attach it to container
Environment=DISABLE_REGISTRATION=true
Environment=USER_UID=1000
Environment=USER_GID=1000
Environment=SSH_LISTEN_PORT=2222

Network=host

UIDMap=1000:0:1
UIDMap=0:1:1000

# capabilities
AddCapability=CAP_NET_BIND_SERVICE

Volume=%h/podman/gitea:/data
Volume=%h/podman/gitea/.socket:/tmp/gitea/
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

