[Unit]
Description=HomeAssistant Container

[Container]
Pod=homeassistant.pod
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:stable

# Enable auto-update container
AutoUpdate=registry

Volume=%h/podman/homeassistant/config:/config
Volume=/etc/localtime:/etc/localtime:ro
Volume=/run/dbus:/run/dbus:ro
Volume=/tmp/unbound_stats:/tmp/unbound_stats

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

