[Unit]
Description=Synapse Database Container

[Container]
Pod=nginx-proxy.pod
ContainerName=synapse_db
Image=docker.io/library/postgres:alpine
Exec=postgres -c unix_socket_directories='/var/run/postgresql/,/tmp/matrix/' -c unix_socket_permissions=0770

# Enable auto-update container
AutoUpdate=registry
# pass this to attach it to container
Environment=POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
Environment=POSTGRES_USER=${POSTGRES_USER}
Environment=POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C

Volume=%h/podman/matrix/database:/var/lib/postgresql/data
Volume=%h/podman/matrix/.socket:/tmp/matrix

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/matrix/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

