MARIADB_ROOT_PASSWORD=MtHvo7&+Xa8_ruu2PIhb3Jvypod_t7#f
MARIADB_PASSWORD=dLKA&9dsGEASiwskNd&d1hNF&w0EecYm
MARIADB_DATABASE=nextcloud
MARIADB_USER=nextcloud
PUID=1000
PGID=1000
TZ=Asia/Kolkata
EXTERNAL_DIR=/media/vault/nextcloud
