# db
MARIADB_ROOT_PASSWORD=
MARIADB_PASSWORD=
MARIADB_DATABASE=nextcloud
MARIADB_USER=nextcloud
MARIADB_HOST=/tmp/docker/mysqld.sock

# redis
REDIS_HOST=/tmp/docker/valkey.sock
REDIS_HOST_PORT=0

# Misc
TZ=Etc/UTC

# Directories
EXTERNAL_DIR=

# notify push
SOCKET_PATH=/tmp/docker/notify_push.sock

# reverse proxy
OVERWRITEPROTOCOL=https
OVERWRITECLIURL=https://cloud.example.com
TRUSTED_PROXIES=127.0.0.1 ::1

# SMTP
SMTP_HOST=smtp.example.com
SMTP_SECURE=ssl
SMTP_NAME=
SMTP_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_DOMAIN=

# PHP Optimizations
PHP_MEMORY_LIMIT=2G
PHP_UPLOAD_LIMIT=100G
PHP_OPCACHE_MEMORY_CONSUMPTION=256
