MARIADB_ROOT_PASSWORD=
MARIADB_PASSWORD=
MARIADB_DATABASE=nextcloud
MARIADB_USER=nextcloud
TZ=Asia/Kolkata
EXTERNAL_DIR=/media/vault/nextcloud
SOCKET_PATH=/tmp/docker/notify_push.sock
NEXTCLOUD_URL=https://cloud.example.com
