[Unit]
Description=Nextcloud Imaginary Container

[Container]
ContainerName=nextcloud_imaginary
Image=docker.io/nextcloud/aio-imaginary
Exec="/start.sh -enable-url-source -cors -return-size"

# Enable auto-update container
AutoUpdate=registry
# capabilities
AddCapability=CAP_SYS_NICE
Environment=PORT=11000
PublishPort=11000:11000

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

