[Unit]
Description=Nextcloud DB Container

[Container]
Pod=nextcloud.pod
ContainerName=nextcloud_db
Image=docker.io/library/mariadb:lts
Exec='--transaction-isolation=READ-COMMITTED' '--log-bin=binlog' '--binlog-format=ROW' '--socket=/tmp/docker/mysqld.sock'

# Enable auto-update container
AutoUpdate=registry
# pass this to attach it to container
EnvironmentFile=./.env

Volume=%h/podman/nextcloud/db:/var/lib/mysql
Volume=%h/podman/nextcloud/.socket:/tmp/docker

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/nextcloud/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

