[Unit]
Description=Run Nextcloud Cron Job
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/bin/podman exec -u 1000 nextcloud php /var/www/html/cron.php
