[Unit]
Description=Nextcloud Notify Push Container
Requires=nextcloud_db.service nextcloud_valkey.service nextcloud.service
After=nextcloud_db.service nextcloud_valkey.service nextcloud.service

[Container]
Pod=nextcloud.pod
ContainerName=nextcloud_push
Image=docker.io/library/nextcloud:fpm-alpine
Entrypoint=/nextcloud-notify-push-entrypoint.sh
User=1000
Group=1000

# Enable auto-update container
AutoUpdate=registry

# Timezone
Environment=TZ=${TZ}

# Nextcloud variables
Environment=SOCKET_PATH=${SOCKET_PATH}
Environment=OVERWRITECLIURL=${OVERWRITECLIURL}
Environment=OVERWRITEPROTOCOL=${OVERWRITEPROTOCOL}
Environment=TRUSTED_PROXIES=${TRUSTED_PROXIES}

# DB credentials
Environment=MARIADB_PASSWORD=${MARIADB_PASSWORD}
Environment=MARIADB_DATABASE=${MARIADB_DATABASE}
Environment=MARIADB_USER=${MARIADB_USER}
Environment=MARIADB_HOST=${MARIADB_HOST}

# Redis
Environment=REDIS_HOST=${REDIS_HOST}
Environment=REDIS_HOST_PORT=${REDIS_HOST_PORT}

Volume=%h/podman/nextcloud/html:/var/www/html
Volume=./nextcloud-notify-push-entrypoint.sh:/nextcloud-notify-push-entrypoint.sh
Volume=%h/nextcloud:/var/www/html/data

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/nextcloud/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
