[Unit]
Description=Nextcloud Container
#Requires=nextcloud_db.service nextcloud_valkey.service
#After=nextcloud_db.service nextcloud_valkey.service

[Container]
Pod=nextcloud.pod
ContainerName=nextcloud
Image=docker.io/library/nextcloud:fpm-alpine
Entrypoint=/nextcloud-entrypoint.sh

# Enable auto-update container
AutoUpdate=registry

# env file
EnvironmentFile=./.env

Volume=%h/podman/nextcloud/html:/var/www/html
Volume=%h/nextcloud:/var/www/html/data
Volume=${EXTERNAL_DIR}:${EXTERNAL_DIR}
Volume=./nextcloud-entrypoint.sh:/nextcloud-entrypoint.sh

# notify push
Volume=./install-notify-push.sh:/docker-entrypoint-hooks.d/before-starting/install-notify-push.sh

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/nextcloud/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
