[Unit]
Description=Nextcloud Imaginary Container

[Container]
Network=host
ContainerName=nextcloud_imaginary
Image=ghcr.io/nextcloud-releases/aio-imaginary
Exec=-enable-url-source -cors

# Enable auto-update container
AutoUpdate=registry
Environment=PORT=9999

# capabilities
AddCapability=CAP_SYS_NICE

# disable healthcheck
HealthCmd=none
HealthInterval=disable

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

