[Unit]
Description=Nextcloud Valkey Container

[Container]
Pod=nextcloud.pod
ContainerName=nextcloud_valkey
Image=ghcr.io/valkey-io/valkey:alpine
Exec=--port 0 --unixsocket ${REDIS_HOST} --unixsocketperm 777

# Enable auto-update container
AutoUpdate=registry

# Timezone
Environment=TZ=${TZ}

Volume=%h/podman/nextcloud/valkey:/data

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/nextcloud/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

