[Unit]
Description=Nextcloud Redis Container

[Container]
Pod=nextcloud.pod
ContainerName=nextcloud_redis
Image=docker.io/library/redis:alpine
Exec=--unixsocket /tmp/docker/redis.sock --unixsocketperm 777

# Enable auto-update container
AutoUpdate=registry
# pass this to attach it to container
EnvironmentFile=./.env

Volume=%h/podman/nextcloud/redis:/data

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/nextcloud/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

