[Unit]
Description=Nextcloud Valkey Container

[Container]
Pod=nextcloud.pod
ContainerName=nextcloud_valkey
Image=ghcr.io/valkey-io/valkey:alpine
Exec=--port 0 --unixsocket /tmp/docker/valkey.sock --unixsocketperm 777

# Enable auto-update container
AutoUpdate=registry
# pass this to attach it to container
EnvironmentFile=./.env

Volume=%h/podman/nextcloud/valkey:/data

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/nextcloud/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

