[Unit]
Description=Nextcloud Imaginary Container

[Container]
Pod=nextcloud.pod
ContainerName=nextcloud_imaginary
Image=ghcr.io/nextcloud-releases/aio-imaginary
Exec=-enable-url-source -cors

# Enable auto-update container
AutoUpdate=registry
Environment=PORT=9999
Environment=TZ=${TZ}

# capabilities
AddCapability=CAP_SYS_NICE

# disable healthcheck
HealthCmd=none
HealthInterval=disable

[Service]
EnvironmentFile=%h/.config/containers/systemd/nextcloud/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

