# You can find documentation for all the supported env variables at https://immich.app/docs/install/environment-variables

# The location where your uploaded files are stored
UPLOAD_LOCATION=/path/to/storage

# List of comma-separated IPs set as trusted proxies
IMMICH_TRUSTED_PROXIES=100.100.100.1

# Redis
REDIS_SOCKET=/tmp/immich/valkey.sock

# Postgres
DB_URL=postgresql://postgres:CHANGEMEASAP@localhost/immich?host=/tmp/immich/

DB_PASSWORD=CHANGEMEASAP

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
