[Unit]
Description=Immich Valkey Container

[Container]
Pod=immich.pod
ContainerName=immich_valkey
Image=ghcr.io/valkey-io/valkey:alpine
Exec=--unixsocket /tmp/immich/valkey.sock --unixsocketperm 777

# Enable auto-update container
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

