[Unit]
Description=Immich Valkey Container

[Container]
Pod=immich.pod
ContainerName=immich_valkey
Image=ghcr.io/valkey-io/valkey:alpine
Exec=--port 0 --unixsocket ${REDIS_SOCKET} --unixsocketperm 777

# Enable auto-update container
AutoUpdate=registry

[Service]
EnvironmentFile=%h/.config/containers/systemd/immich/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

