[Unit]
Description=Collabora Container

[Container]
Network=host
ContainerName=collabora
Image=docker.io/collabora/code:latest

# Enable auto-update container
AutoUpdate=registry
# pass this to attach it to container
Environment=extra_params="--o:ssl.enable=false --o:ssl.termination=true --o:welcome.enable=false --o:net.content_security_policy='frame-ancestors https://${CLOUD}' --o:net.lok_allow.host[14]=${CLOUD} --o:home_mode.enable=false --o:per_document.max_concurrency=12 --o:num_prespawn_children=12 --o:logging.level=4"
Environment=aliasgroup1=https://${CLOUD}
Environment=DONT_GEN_SSL_CERT=true
Environment=server_name=${HOST}

[Service]
# pass this to autofill above variables
EnvironmentFile=%h/.config/containers/systemd/collabora/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

