PUID=1000 # set to 0 to run with podman rootless without uidmap
PGID=1000 # set to 0 to run with podman rootless without uidmap
TZ=Asia/Kolkata
DATA=/path/to/media/library

# slskd
SLSKD_REMOTE_CONFIGURATION=false
SLSKD_HTTP_IP_ADDRESS=0.0.0.0
SLSKD_HTTP_LISTEN_IP=0.0.0.0
SLSKD_NO_HTTPS=true
SLSKD_NO_AUTH=true
SLSKD_SLSK_USERNAME=soulseek_user
SLSKD_SLSK_PASSWORD=soulseek_pass

SLSKD_USERNAME=slskd_web_username
SLSKD_PASSWORD=slskd_web_password

SLSKD_DOWNLOADS_DIR=/downloads/complete
SLSKD_INCOMPLETE_DIR=/downloads/incomplete
SLSKD_SHARED_DIR=/music
SLSKD_API_KEY=customslskdgeneratedapikey

# Navidrome
ND_ENABLEFAVOURITES=false
ND_ENABLESHARING=true
ND_IMAGECACHESIZE=2048MB
ND_SUBSONIC_DEFAULTREPORTREALPATH=true
ND_SHAREURL=https://music.example.com
