[Unit]
Description=Navidrome Container

[Container]
Pod=music.pod
ContainerName=navidrome
Image=ghcr.io/navidrome/navidrome:latest

# Enable auto-update container
AutoUpdate=registry
EnvironmentFile=./.env

Volume=%h/podman/music/navidrome:/data
Volume=${DATA}/media/music:/music:ro

[Service]
EnvironmentFile=%h/.config/containers/systemd/music/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

