[Unit]
Description=Picard Container

[Container]
Pod=music.pod
ContainerName=picard
Image=ghcr.io/aandree5/picard-web:minimal-v1

# Enable auto-update container
AutoUpdate=registry
EnvironmentFile=./.env

Volume=%h/podman/music/picard:/root
Volume=${DATA}:/mnt

[Service]
EnvironmentFile=%h/.config/containers/systemd/music/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

