[Unit]
Description=qBittorrent Container

[Container]
Pod=starrs.pod
ContainerName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:latest

# Enable auto-update container
AutoUpdate=registry
EnvironmentFile=./.env
Environment=WEBUI_PORT=9090
Environment=TORRENTING_PORT=6881
Environment=DOCKER_MODS=ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest

Volume=%h/podman/starrs/qbittorrent:/config
Volume=${DATA}/downloads:/downloads

[Service]
EnvironmentFile=%h/.config/containers/systemd/starrs/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

