[Unit]
Description=Seer Container

[Container]
Pod=starrs.pod
ContainerName=seer
Image=ghcr.io/seerr-team/seerr:latest

# Enable auto-update container
AutoUpdate=registry
EnvironmentFile=./.env

Volume=%h/podman/starrs/seer:/app/config

[Service]
EnvironmentFile=%h/.config/containers/systemd/starrs/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

