[Unit]
Description=Headscale Container

[Container]
Network=host
ContainerName=headscale
Image=ghcr.io/juanfont/headscale:latest
Exec=serve

# Enable auto-update container
AutoUpdate=registry

Volume=%h/podman/headscale/config:/etc/headscale
Volume=%h/podman/headscale/data:/var/lib/headscale
Volume=%h/podman/headscale/run:/var/run/headscale

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

