[Unit]
Description=Memo Container

[Container]
ContainerName=memos
Image=ghcr.io/usememos/memos:stable

Network=host

# Enable auto-update container
AutoUpdate=registry
# pass this to attach it to container
EnvironmentFile=./.env

Volume=%h/podman/notes/memos:/var/opt/memos
Volume=%h/podman/notes/.socket:/tmp/memos

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target

