[Unit]
Description=Mortis Container

[Container]
Pod=memos.pod
ContainerName=mortis
Image=ghcr.io/mudkipme/mortis:latest
Entrypoint=/app/mortis
Exec=-addr 127.0.0.1 -port 5231 -grpc-addr=localhost:5230

# Enable auto-update container
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=default.target
